<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- <title>hii</title> -->
  </head>
  <body>
    <h1>hello from contact page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut tenetur,
      voluptas ea enim reiciendis accusantium velit suscipit necessitatibus
      eaque excepturi debitis nulla assumenda vitae sequi nisi laudantium
      distinctio odit vero tempore corporis, dicta saepe nihil optio? Iste porro
      illum, quibusdam totam aut asperiores perspiciatis iure! Nisi porro
      tempora qui possimus.
    </p>
  </body>
</html>
